.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding-left: 12px;
  padding-right: 4px;
  background-color: rgb(var(--background-primary-rgb));
}

.headerTitle {
  padding: 4px;
  hyphens: auto;

  color: var(--font-primary-hex);
  font-family: var(--inter-font);
  font-size: 100%;
}
